<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PositionApplicability.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PositionApplicability.Properties.Settings>
            <setting name="PathFolderAssembly" serializeAs="String">
                <value />
            </setting>
            <setting name="PathFolderPos" serializeAs="String">
                <value />
            </setting>
            <setting name="StrSearchTableAssembly" serializeAs="String">
                <value>Спецификация стали</value>
            </setting>
            <setting name="IsAllDirectoryExtraction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAllDirectoryFill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="StrSearchTableMark" serializeAs="String">
                <value>Ведомость отправочных марок</value>
            </setting>
            <setting name="PathFolder" serializeAs="String">
                <value />
            </setting>
        </PositionApplicability.Properties.Settings>
    </userSettings>
</configuration>